In [1]:
import pandas as pd

In [11]:
df1 = pd.read_excel(u'룩업테이블 실습.xlsx', u'판매이력')

In [12]:
df2 = pd.read_excel(u'룩업테이블 실습.xlsx', u'상품')

In [26]:
# df2의 columns가 '상품ID'로 저장되지 않는 오류 때문에 columns name 재설정
df2.columns = ['상품ID', '상품명', '상품 카테고리']

In [28]:
df3 = pd.merge(df1, df2, on='상품ID')

In [29]:
df3

         매출일  점포 ID   상품ID 상품명_x 상품 카테고리_x   고객 ID       금액 상품명_y 상품 카테고리_y
0 2017-01-01   11.0  101.0   상품A       식료품  1001.0  57500.0   상품A       식료품
1 2017-02-01   12.0  101.0   상품A       식료품  1003.0  57500.0   상품A       식료품
2 2017-03-01   12.0  101.0   상품A       식료품  1003.0  60000.0   상품A       식료품
3 2017-01-01   11.0  102.0   상품B      전자제품  1002.0   2400.0   상품B      전자제품
4 2017-02-01   11.0  102.0   상품B      전자제품  1002.0   5800.0   상품B      전자제품
5 2017-03-01   11.0  102.0   상품B      전자제품  1002.0  12400.0   상품B      전자제품

In [31]:
df3.pivot_table(u'금액', [u'점포 ID', u'상품명_x'], u'매출일', aggfunc='sum')

매출일          2017-01-01  2017-02-01  2017-03-01
점포 ID 상품명_x
11.0  상품A       57500.0         NaN         NaN
      상품B        2400.0      5800.0     12400.0
12.0  상품A           NaN     57500.0     60000.0

In [32]:
def category(row):
    return {101:u'식료품'}.get(row[u'상품ID'], u'그 외')
df1[u'상품 카테고리'] = df1.apply(category, axis=1)
df1.head(2)

         매출일  점포 ID   상품ID  상품명 상품 카테고리   고객 ID       금액
0 2017-01-01   11.0  101.0  상품A     식료품  1001.0  57500.0
1 2017-01-01   11.0  102.0  상품B     그 외  1002.0   2400.0