#### 데이터베이스에 접속

In [53]:
## pymysql을 이용한 db연결
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:21516@localhost:3306/Bigdata')

#### DB에 실습을 위한 access_log 테이블을 만들어주기 위해 access_log.csv파일을 mysql에 저장

In [ ]:
df = pd.read_csv('access_log.csv')
df.to_sql(name='access_log', con=engine, if_exists='append',index=False)

#### DB에 제대로 들어갔는지 pymysql로 연결하여 확인

In [2]:
import pandas as pd
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='21516', db='Bigdata', charset='utf8')
cursor = db.cursor()
cursor.execute('show tables;')
cursor.fetchall()

In [3]:
db.commit()
db.close()

1

#### 쿼리를 실행해서 데이터 프레임으로 변환

In [54]:
query = '''
SELECT substr(time, 1, 10) time, count(*) count 
FROM access_log
WHERE time BETWEEN '1995-07-01' AND '1995-07-04'
GROUP BY 1 ORDER BY 1
'''
pd.read_sql(query, engine)

         time  count
0  1995-07-01  64714
1  1995-07-02  60265
2  1995-07-03  89584