#### 데이터베이스에 접속

In [53]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:21516@localhost:3306/Bigdata')

#### 쿼리를 실행해서 데이터 프레임으로 변환

In [54]:
query = '''
SELECT substr(time, 1, 10) time, count(*) count 
FROM access_log
WHERE time BETWEEN '1995-07-01' AND '1995-07-04'
GROUP BY 1 ORDER BY 1
'''
pd.read_sql(query, engine)

         time  count
0  1995-07-01  64714
1  1995-07-02  60265
2  1995-07-03  89584

In [52]:
import pandas as pd
df = pd.read_csv('access_log.csv')

In [27]:
df.to_sql(name='sqltodb', con=db_connection, if_exists='append',index=False)

In [28]:
import pymysql

In [30]:
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='21516', db='Bigdata', charset='utf8')

In [31]:
cursor = db.cursor()

In [44]:
cursor.execute('''rename table sample to access_log;''')

0

In [46]:
cursor.execute('show tables;')

1

In [47]:
cursor.fetchall()

(('access_log',),)

In [45]:
db.commit()

In [55]:
db.close()